@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
	
	/* Light theme */
	--main-color: #434343;
	--secondary-color: white;

	/* Dark theme */
	/* 
	--main-color: #C2C2C2;
	--secondary-color: black;
	*/

}

::-moz-selection {
	background: var(--main-color);
	color: var(--secondary-color);
}

::-ms-input-placeholder {
	color: var(--main-color);
}

::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-thumb {
	background: transparent;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar:horizontal {
	height: 0px;
	width: 0px;
}

::placeholder {
	color: var(--main-color);
}

::selection {
	background: var(--main-color);
	color: var(--secondary-color);
}

* {
	box-sizing: border-box;
	cursor: default;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

input {
	background-color: var(--secondary-color);
	color: var(--main-color);
}

input:focus:-ms-input-placeholder {
	color: var(--secondary-color);
}

input:focus::placeholder {
	color: var(--secondary-color);
}

span {
	color: var(--main-color);
	display: inline-block;
}

.fill-main-color{
	fill: var(--main-color);
}

.fill-secondary-color{
	fill: var(--secondary-color);
}

.back-button {
	background-color: var(--main-color);
	display: none;
	height: 30px;
	left: 5px;
	position: absolute;
	top: 5px;
	width: 30px;
	z-index: 2;
}

.back-button-arrow {
	height: 15px;
	left: 5px;
	position: absolute;
	top: calc((100% - 15px)/2);
	width: 15px;
}

.back-button *
{
	cursor: pointer;
}

.more-info-icon
{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	right: 5px;
	top: 5px;
	cursor: pointer;
}

.has-border {
	border-radius: 20px;
	border: solid 1px var(--main-color);
}

.main-grid-item {
	height: 100%;
	width: 100%;
}

/*Dashboard component---------------------------------------------------------------------*/

#dashboard-background {
	align-items: center;
	display: flex;
	flex-direction: column;
}

#dashboard-background::before {
	background: var(--secondary-color);
	content: "";
	height: 150%;
	left: 0%;
	position: fixed;
	top: 0%;
	width: 150%;
	z-index: -1;
}

#dashboard-wrapper-grid {
	display: grid;
	overflow: visible;
	position: absolute;
	z-index: 2;
}

/*Current temperature and current date and time-------------------------------------------*/

#current-temp-date-and-time-wrapper {
	display: flex;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
}

#current-temp-date-and-time-wrapper * {
	transition: 300ms;
}

/*Current temperature tile----------------------------------------------------------------*/

#current-temp-tile {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	position: relative;
}

#current-temp-basic-data-grid
{
	position: relative;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-areas: "a""b""c";
	grid-template-rows: 50% 40% 10%;
}

#current-temp-basic-data-grid > *
{
	margin: auto;
}

#current-temp-digit {
	text-align: center;
}

#current-weather-icon {
	height: 80%;
	width: auto;
	transform: translateY(15%);
}

#current-temp-tile.hourly-temp-visible {
	min-width: 100%;
}

#current-temp-tile.hourly-temp-visible #current-temp-basic-data-grid {
	opacity: 0;
	pointer-events: none;
}

#current-temp-tile.hourly-temp-visible {
	cursor: default;
}

#current-temp-tile.hourly-temp-visible #back-button-temp
{
	display: block;
}

#current-temp-tile.hourly-temp-visible .more-info-icon
{
	transform: scale(0);
	pointer-events: none;
}

#chances-of-rain {
	bottom: 5px;
	font-size: 14px;
	position: absolute;
	text-align: center;
	width: 100%;
}

.hourly-temp-visible {
	width: 100%;
}

/*Hourly temperature component------------------------------------------------------------*/

#temp-graph-scroll-box {
	position: relative;
	height: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	position: absolute;
	width: 100%;
}

.open-graph-title
{
	position: absolute;
	display: block;
	height: 30px;
	width: fit-content;
	top: 5px;
	right: 5px;
	font-size: 12px;
	padding: 5px;
	text-align: center;
	text-decoration: dotted underline;
}


#hourly-temp-graph {
	align-items: center;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	gap: 20px;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0%;
	transform-origin: left;
	width: 100%;
	padding: 0px 5px 0px 5px;
}

#temp-graph-scroll-box::-webkit-scrollbar-thumb {
	background: var(--main-color);
	border-radius: 10px;
}

#temp-graph-scroll-box::-webkit-scrollbar-track {
	background: var(--secondary-color);
}

.hourly-temp
{
	width: 50px;
	height: 80px;
	display: grid;
	grid-template-areas: "a" "b" "c" "d";
	grid-template-rows: 15px 35px 15px 15px;
	gap: 5px;
}

.hourly-temp > *
{
	display: block;
	margin: auto;
	width: 100%;
	height: 100%;
}

.hourly-rain
{
	grid-area: c;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 3px;
}

.rain-chance-drop
{
	height: 100%;
	width: auto;
}

.hourly-temp-is
{
	grid-area: a;
}

.hourly-temp-is,
.hourly-temp-hour-is
{
	position: relative;
	left: -50%;
	transform: translateX(50%);
	text-align: center;
}

.hourly-icon-box
{
	grid-area: b;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hourly-temp-hour-is
{
	grid-area: d;
}

.hourly-icon
{
	width: auto;
	height: 100%;
}

/*Search bar component--------------------------------------------------------------------*/

#search-bar-wrapper {
	overflow: visible;
	position: relative;
}

.drop-down-open {
	height: 185px;
	opacity: 1;
}

.drop-down-closed {
	height: 0px;
	opacity: 0;
}

#search-drop-down-menu-wrapper {
	background-color: var(--main-color);
	border-radius: 0 0 20px 20px;
	left: 2.5%;
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
	top: 105%;
	transform-origin: top;
	transition: 200ms;
	width: 95%;
	z-index: 3;
}

.search-result-line {
	border: solid 0.5px var(--main-color);
	cursor: pointer;
	display: block;
	font-size: 24px;
	height: 48px;
	padding-right: 10px;
	text-align: right;
	-webkit-user-select: none;
	user-select: none;
	width: 100%;
}

.search-result-line:hover {
	filter: brightness(1.5);
}

#search-location-bar {
	font-size: 16px;
	height: 100%;
	width: 100%;
}

#search-location-bar:focus {
	background-color: var(--main-color);
	color: var(--secondary-color);
}

/*Current location and theme selector-----------------------------------------------------*/

#current-location-wrapper {
	display: grid;
	grid-template-areas: "a b";
}

#theme-switch-flex-container {
	align-items: center;
	display: flex;
	height: 100%;
	width: 100%;
}

#theme-switch * {
	transition: 300ms;
}

#theme-switch {
	position: relative;
}

#theme-slider, .theme-icon {
	position: absolute;
}

#theme-switch {
	display: block;
	height: 36px;
	width: 69px;
}

#theme-slider {
	background-color: var(--secondary-color);
	height: 30px;
	top: 2px;
	width: 30px;
}

#theme-slider.is-light-theme {
	right: 3px;
}

#theme-slider.is-dark-theme {
	left: 3px;
}

.theme-icon {
	height: auto;
	top: 8px;
	width: 20px;
}

#light-theme-icon {
	right: 5px;
}

#dark-theme-icon {
	left: 5px;
}

/*Sun state component---------------------------------------------------------------------*/

#sun-state-wrapper {
	display: grid;
}

#sun-state-wrapper>* {
	margin: auto;
}

#sun-or-moon-path {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#sun-or-moon-path {
	align-content: center;
	align-items: center;
	justify-content: unset !important;
}

/*The next five days component------------------------------------------------------------*/

#five-day-forecast-wrapper {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 8px;
	overflow-y: scroll;
}

#the-next-five-days-title, .day-plus-wrapper {
	align-content: center;
	align-items: center;
	border-bottom: dotted 1px var(--main-color);
	border-radius: 0;
	display: flex;
	flex-direction: row;
	padding-left: 15px;
}

#the-next-five-days-title {
	border-bottom-style: solid;
}

.day-plus-day-of-the-week-is::before {
	content: "\00a0";
}

/*Other weather data component------------------------------------------------------------*/

#other-weather-data-wrapper {
	display: grid;
	grid-template-areas: "a b""c d";
	position: relative;
}

.other-tile-bar {
	border-top: dotted 1px var(--main-color);
	bottom: 0%;
	left: 0%;
	position: absolute;
	width: 100%;
}

.other-data-graph-open {
	background-color: var(--secondary-color) !important;
	border: none !important;
	display: grid;
	grid-area: unset !important;
	grid-template-areas: "a""b";
	grid-template-rows: 65% 35%;
	height: 100% !important;
	position: absolute !important;
	width: 100% !important;
	z-index: 3 !important;
}

.other-data-graph-open .more-info-icon
{
	transform: scale(0);
	pointer-events: none;
}

.other-data-graph-open .other-weather-data-basic-data-wrapper {
	grid-area: b;
	transform: unset;
}

.other-data-graph-open .back-button {
	display: block;
}

.other-data-graph-open .weather-graph {
	display: block;
	grid-area: a;
	height: 60%;
	width: 80%;
	transform: translateY(10%);
}

.weather-graph {
	display: none;
	margin: auto;
	overflow-x: scroll;
	overflow-y: hidden;
	position: relative;
}

.other-weather-data-basic-data-wrapper * {
	text-align: center;
}

.other-weather-data-basic-data-wrapper {
	transform: translateY(40%);
}

.other-weather-data-basic-data-wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.other-tile {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 2;
}

.other-data-tile-title {
	display: block;
}

/*Wind tile component---------------------------------------------------------------------*/

#wind-tile {
	grid-area: a;
}

#wind-graph {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 10px;
}

.other-data-graph-closed #wind-graph
{
	display: none;
}

.wind-hour-box
{
	display: grid;
	width: 50px;
	height: 80px;
	grid-template-areas: "a" "b" "c";
	gap: 14px;
	overflow: visible;
}

.wind-hour-box > *
{
	margin: auto;
	width: 100%;
	height: 100%;
}

.wind-hour-speed
{
	grid-area: a;
	font-size: 14px;
	text-align: center;
}

.wind-compass
{
	grid-area: b;
	border: solid 1px var(--main-color);
	border-radius: 100%;
	position: relative;
	width: 40px;
	height: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.wind-hour-hour
{
	grid-area: c;
	font-size: 14px;
	text-align: center;
}

.compass-direction
{
	font-size: 12px;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 12px;
	width: 12px;
	font-family: 'Roboto Mono', monospace;
}

.north{
	bottom: calc(100% + 2px);
	left: calc((100% - 12px)/2);
}

.west{
	top: calc((100% - 12px)/2);
	right: calc(100% + 2px);
}

.south{
	top: calc(100% + 2px);
	left: calc((100% - 12px)/2);
}

.east{
	top: calc((100% - 12px)/2);
	left: calc(100% + 2px);
}

.compass-arrow
{
	height: 90%;
	transform-origin: center;
	transform: rotate(180deg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.arrow-head{
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--main-color);
}

.arrow-tail
{
	background-color: var(--main-color);
	width: 2px;
	height: 70%;
}

/*UV tile component-----------------------------------------------------------------------*/

#uv-tile {
	grid-area: b;
}

#uv-tile-bar {
	height: 55%;
}

/*Humidity tile component-----------------------------------------------------------------*/

#humidity-tile {
	grid-area: c;
}

#humidity-tile-bar {
	height: 83%;
}

/*Visibility tile component---------------------------------------------------------------*/

#visibility-tile {
	grid-area: d;
}




@media (min-width: 1300px) {

::-ms-input-placeholder {
	font-size: 16px;
}

::placeholder {
	font-size: 16px;
}

.other-tile {
	height: 167px;
	margin: auto;
	width: 167px;
}

/*Dashboard component---------------------------------------------------------------------*/

#dashboard-wrapper-grid {
	gap: 20px;
	grid-template-areas: "a b""a c""a d""e d""f d";
	grid-template-columns: 450px 450px;
	grid-template-rows: 38.35px 80px 57.11px 38.64px 314px;
	max-height: 608.35px !important;
	max-width: 920px !important;
	min-height: 608.35px;
	min-width: 920px;
	top: 20px;
}

/*Current temperature and current date and time-------------------------------------------*/

#current-temp-date-and-time-wrapper {
	flex-direction: row;
	gap: 19px;
	grid-area: a;
}

/*Current temperature tile----------------------------------------------------------------*/

#current-temp-tile {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 215.46px;
	justify-content: center;
	width: 215.46px;
}

#current-temp-digit {
	font-size: 64px;
}

/*Hourly temperature graph------------------------------------------------------------------*/

#temp-graph-scroll-box::-webkit-scrollbar:horizontal {
	height: 10px;
}

/*Date and time tile----------------------------------------------------------------------*/

#date-and-time-tile {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 215.46px;
	justify-content: center;
	width: 215.46px;
}

#date-data * {
	display: block;
	margin: auto;
	text-align: center;
}

#current-day-of-the-week, #current-year {
	font-size: 18px;
}

#current-day-and-month {
	font-size: 28px;
}

#current-time {
	font-size: 64px;
}

/*Search bar component--------------------------------------------------------------------*/

#search-bar-wrapper {
	grid-area: b;
}

#search-location-bar {
	padding: 10px;
}

/*Current location and theme selector-----------------------------------------------------*/

#current-location-wrapper {
	grid-area: c;
	grid-template-columns: 70px 380px;
	text-align: right;
}

#current-location-text-data {
	grid-area: b;
	width: 100%;
}

#current-city {
	font-size: 58px;
}

#current-country {
	font-size: 48px;
}

#theme-switch-flex-container {
	grid-area: a;
}

/*Sun state component---------------------------------------------------------------------*/

#sun-state-wrapper {
	gap: 16px;
	grid-area: e;
	grid-template-areas: "a b c";
}

.sun-info-text {
	font-size: 10px;
	height: fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.order-sunrise-sunset #sunrise-info-wrapper {
	grid-area: a;
	text-align: left;
}

.order-sunrise-sunset #sunset-info-wrapper {
	grid-area: c;
	text-align: right;
}

.order-sunset-sunrise #sunrise-info-wrapper {
	grid-area: a;
	text-align: right;
}

.order-sunset-sunrise #sunset-info-wrapper {
	grid-area: c;
	text-align: left;
}

#sun-or-moon-path {
	grid-area: b;
	height: 18px;
	width: 240px;
}

#sun-or-moon-icon {
	height: 25px;
	margin-left: 60%;
	width: 25px;
}

/*The next five days component------------------------------------------------------------*/

#five-day-forecast-wrapper {
	grid-area: f;
}

#the-next-five-days-title {
	height: 38px;
	margin-bottom: 14px;
	margin-top: 5px;
	width: 450px;
}

.day-plus-wrapper {
	height: 43px;
	width: 450.09px;
}

.day-plus-wrapper .day-plus-max-temp, .day-plus-wrapper .day-plus-day-and-month-are {
	margin-left: 15px;
}

.day-plus-icon {
	height: auto;
	width: 30px;
}

.day-plus-max-temp {
	font-size: 24px;
}

.day-plus-min-temp, .day-plus-day-and-month-are {
	font-size: 18px;
}

.day-plus-day-of-the-week-is {
	font-size: 16px;
}

/*Other weather data component------------------------------------------------------------*/

#other-weather-data-wrapper {
	grid-area: d;
}

.other-weather-data-number, .other-weather-data-units, .other-data-tile-title {
	text-align: center;
}

.other-weather-data-number {
	font-size: 52px;
}

.other-weather-data-units {
	font-size: 18px;
}

.other-data-tile-title {
	font-size: 24px;
}
}

@media (min-width: 715px) and (max-width: 1299px) {

::-ms-input-placeholder {
	font-size: 16px;
}

::placeholder {
	font-size: 16px;
}

/*Dashboard component---------------------------------------------------------------------*/

#dashboard-wrapper-grid {
	gap: 20px;
	grid-template-areas: "a a""b b""c c""d e""f e";
	grid-template-columns: 330px 330px;
	grid-template-rows: 40px 164px 44px 255px 40px;
	margin-bottom: 10px;
	max-height: 634px !important;
	max-width: 690px !important;
	min-height: 634px !important;
	min-width: 690px !important;
	top: 20px;
}

/*Current temperature and current date and time-------------------------------------------*/

#current-temp-date-and-time-wrapper {
	flex-direction: row;
	gap: 29px;
	grid-area: b;
}

/*Current temperature tile----------------------------------------------------------------*/

#current-temp-tile {
	height: 163px;
	width: 330px;
}

#current-temp-digit {
	font-size: 48px;
}

/*Hourly temperature graph------------------------------------------------------------------*/

#temp-graph-scroll-box::-webkit-scrollbar:horizontal {
	height: 8px;
}

/*Date and time tile----------------------------------------------------------------------*/

#date-and-time-tile {
	height: 163px;
	width: 330px;
}

#date-data {
	display: grid;
	grid-template-areas: "a b""c b""d b";
	grid-template-columns: 0.5fr 0.5fr;
	grid-template-rows: 0.333fr 0.333fr 0.333fr;
	height: 100%;
	width: 100%;
}

.date-data-to-the-left, .date-data-to-the-right {
	margin: auto;
	text-align: center;
	width: 100%;
}

.date-data-to-the-right {
	font-size: 64px;
	grid-area: b;
}

.date-data-to-the-left:nth-of-type(1) {
	font-size: 18px;
	grid-area: a;
}

.date-data-to-the-left:nth-of-type(2) {
	font-size: 28px;
	grid-area: c;
}

.date-data-to-the-left:nth-of-type(3) {
	font-size: 18px;
	grid-area: d;
}


/*Search bar component--------------------------------------------------------------------*/

#search-bar-wrapper {
	grid-area: a;
}

#search-location-bar {

	padding: 8px;
}

/*Current location and theme selector-----------------------------------------------------*/

#current-location-wrapper {
	grid-area: f;
	grid-template-columns: 261px 69px;
	height: 100%;
	text-align: left;
}

#current-location-text-data {
	grid-area: a;
	width: 100%;
}

#current-city {
	font-size: 40px;
}

#current-country {
	font-size: 32px;
}

#theme-switch-flex-container {
	grid-area: b;
}

/*Sun state component---------------------------------------------------------------------*/

#sun-state-wrapper {
	gap: 16px;
	grid-area: c;
	grid-template-areas: "a b c";
}

.sun-info-text {
	font-size: 12px;
	width: -moz-fit-content;
	width: fit-content;
}

.order-sunrise-sunset #sunrise-info-wrapper {
	grid-area: a;
	text-align: left;
}

.order-sunrise-sunset #sunset-info-wrapper {
	grid-area: c;
	text-align: right;
}

.order-sunset-sunrise #sunrise-info-wrapper {
	grid-area: c;
	text-align: right;
}

.order-sunset-sunrise #sunset-info-wrapper {
	grid-area: a;
	text-align: left;
}

#sun-or-moon-path {
	grid-area: b;
	height: 20px;
	width: 442px;
}

#sun-or-moon-icon {
	height: 28px;
	margin-left: 60%;
	width: 28px;
}

/*The next five days component------------------------------------------------------------*/

#five-day-forecast-wrapper {
	grid-area: d;
	padding: 5px;
}

#the-next-five-days-title, .day-plus-wrapper {
	height: 34px;
	width: 324px;
}

#the-next-five-days-title {
	min-height: 35px !important;
}

.day-plus-icon {
	height: auto;
	width: 35px;
}

.day-plus-max-temp {
	font-size: 18px;
	margin-left: 15px;
}

.day-plus-min-temp {
	font-size: 14px;
}

.day-plus-day-and-month-are {
	font-size: 16px;
	margin-left: 15px;
}

.day-plus-day-of-the-week-is {
	font-size: 14px;
}

/*Other weather data component------------------------------------------------------------*/

#other-weather-data-wrapper {
	grid-area: e;
}

.other-tile {
	height: 123px;
	margin: auto;
	width: 123px;
}

.other-weather-data-number, .other-weather-data-units, .other-data-tile-title {
	text-align: center;
}

.other-weather-data-number {
	font-size: 42px;
}

.other-weather-data-units {
	font-size: 16px;
}

.other-data-tile-title {
	font-size: 18wpx;
}

}

@media (max-width: 714px) {

::-ms-input-placeholder {
	font-size: 16px;
}

::placeholder {
	font-size: 16px;
}

* {
	user-select: none;
}

#bottom-padding-mobile {
	height: 50px;
	position: absolute;
	top: 1180px;
	width: 100%;
}

/*Dashboard component---------------------------------------------------------------------*/

#dashboard-wrapper-grid {
	gap: 22px;
	grid-template-areas: "a""b""c""d""e""f";
	grid-template-columns: 328px;
	grid-template-rows: 36px 45px 322px 62px 282px 324px;
	left: calc((100% - 328px)/2);
	max-height: 1180px !important;
	max-width: 328px !important;
	min-height: 1180px !important;
	min-width: 328px !important;
	position: absolute !important;
	top: 20px;
}

/*Current temperature and current date and time-------------------------------------------*/

#current-temp-date-and-time-wrapper {
	flex-direction: column;
	gap: 15px;
	grid-area: c;
}

/*Current temperature tile----------------------------------------------------------------*/

#current-temp-tile {
	height: 215px;
	overflow-x: scroll;
	width: 100%;
}

#current-temp-digit {
	font-size: 64px;
}

/*Hourly temperature component------------------------------------------------------------*/

#hourly-temp-graph {
	overflow: hidden;
	width: -moz-fit-content;
	width: fit-content;
}

#temp-graph-scroll-box::-webkit-scrollbar:horizontal {
	height: 6px;
}


/*Date and time tile----------------------------------------------------------------------*/

#date-and-time-tile {
	height: 91px;
	width: 100%;
}

#date-data {
	display: grid;
	grid-template-areas: "a b c""d d d";
	height: 100%;
	padding: 10px;
	width: 100%;
}

.date-data-to-the-left, .date-data-to-the-right {
	margin: auto;
	text-align: center;
	width: 100%;
}

.date-data-to-the-right {
	font-size: 42px;
	grid-area: d;
}

.date-data-to-the-left:nth-of-type(1) {
	font-size: 18px;
	grid-area: a;
	text-align: right;
}

.date-data-to-the-left:nth-of-type(2) {
	font-size: 18px;
	grid-area: b;
	text-align: center;
}

.date-data-to-the-left:nth-of-type(3) {
	font-size: 18px;
	grid-area: c;
	text-align: left;
}

/*Search bar component--------------------------------------------------------------------*/

#search-bar-wrapper {
	grid-area: a;
}

#search-location-bar {

	padding: 8px;
}

/*Current location and theme selector-----------------------------------------------------*/

#current-location-wrapper {
	grid-area: b;
	grid-template-columns: 69px 259px;
	height: 100%;
	text-align: right;
}

#current-location-text-data {
	grid-area: b;
}

#current-city {
	font-size: 40px;
}

#current-country {
	font-size: 32px;
}

#theme-switch-flex-container {
	grid-area: a;
}

/*Sun state component---------------------------------------------------------------------*/

#sun-state-wrapper {
	grid-area: d;
	grid-template-areas: "a b""c c";
}

.sun-info-text {
	font-size: 12px;
	width: 142px;
}

.order-sunrise-sunset #sunrise-info-wrapper {
	grid-area: a;
	text-align: left;
}

.order-sunrise-sunset #sunset-info-wrapper {
	grid-area: b;
	text-align: right;
}

.order-sunset-sunrise #sunrise-info-wrapper {
	grid-area: b;
	text-align: right;
}

.order-sunset-sunrise #sunset-info-wrapper {
	grid-area: a;
	text-align: left;
}

#sun-or-moon-path {
	grid-area: c;
	height: 20px;
	width: 283px;
}

#sun-or-moon-icon {
	height: 28px;
	margin-left: 60%;
	width: 28px;
}

/*The next five days component------------------------------------------------------------*/

#five-day-forecast-wrapper {
	grid-area: e;
	padding: 5px;
}

#the-next-five-days-title, .day-plus-wrapper {
	height: 39px;
	width: 319px;
}

#the-next-five-days-title {
	min-height: 36px !important;
}

.day-plus-icon {
	height: auto;
	width: 30px;
}

.day-plus-max-temp {
	font-size: 18px;
	margin-left: 15px;
}

.day-plus-min-temp {
	font-size: 14px;
}

.day-plus-day-and-month-are {
	font-size: 16px;
	margin-left: 15px;
}

.day-plus-day-of-the-week-is {
	font-size: 14px;
}

/*Other weather data component------------------------------------------------------------*/

#other-weather-data-wrapper {
	grid-area: f;
}

.other-tile {
	height: 123px;
	margin: auto;
	width: 123px;
}

.other-weather-data-number, .other-weather-data-units, .other-data-tile-title {
	text-align: center;
}

.other-weather-data-number {
	font-size: 42px;
}

.other-weather-data-units {
	font-size: 16px;
}

.other-data-tile-title {
	font-size: 18wpx;
}

}

@media (max-width: 325px) {

/*Dashboard component---------------------------------------------------------------------*/

	#dashboard-wrapper-grid {
		transform: scale(0.85);
	}
}

@media (max-width: 265px) {

/*Dashboard component---------------------------------------------------------------------*/

	#dashboard-wrapper-grid {
		transform: scale(0.75);
	}
}

@media (max-width: 230px) {

/*Dashboard component---------------------------------------------------------------------*/

	#dashboard-wrapper-grid {
		transform: scale(0.65);
	}
}