@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root {
/* Light theme */
--main-color: #434343;
--secondary-color: white;
/* Dark theme */

/* --main-color: #C2C2C2;
--secondary-color: black; */

}


::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar:horizontal{
	width: 0px;
	height: 0px;
}


::-webkit-scrollbar-track {
	background: transparent;
}


::-webkit-scrollbar-thumb {
	background: transparent;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	cursor: default;
}

span {
	color: var(--main-color);
	display: inline-block;
}

input {
	color: var(--main-color);
	background-color: var(--secondary-color);
}

::-ms-input-placeholder {

	color: var(--main-color);
}

input:focus:-ms-input-placeholder
{
	color: var(--secondary-color);
}

::placeholder {
	color: var(--main-color);
}

input:focus::placeholder {
	color: var(--secondary-color);
}

.other-tile-bar {
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 100%;
	border-top: dotted 1px var(--main-color);
}

.has-border {
	border-radius: 20px;
	border: solid 1px var(--main-color);
}

.back-button {
	display: none;
	position: absolute;
	height: 65px;
	width: 30px;
	left: 0%;
	top: calc((100% - 65)/2);
	background-color: var(--main-color);
	border-radius: 0 20px 20px 0;
	z-index: 2;
}

.back-button-arrow
{
	position: absolute;
	top: calc((100% - 15px)/2);
	left: calc((100% - 20px)/2);
	width: 15px;
	height: 15px;
}



#dashboard-background {
	display: flex;
	flex-direction: column;
	align-items: center;
}


#dashboard-background::before {
	position: fixed;
	width: 150%;
	height: 150%;
	left: 0%;
	top: 0%;
	content: "";
	background: var(--secondary-color);
	z-index: -1;
}

#dashboard-wrapper-grid {
	position: absolute;
	display: grid;
	overflow: visible;
	z-index: 2;
}
#current-temp-date-and-time-wrapper {
	position: relative;
	display: flex;
	white-space: nowrap;
	overflow: hidden;
}

#current-temp-date-and-time-wrapper *
{
	transition: 300ms;
}

#current-temp-tile{
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	overflow: hidden;
}

#current-temp-digit
{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
}

#current-temp-tile.hourly-temp-visible
{
	min-width: 100%;
}

#current-temp-tile.hourly-temp-visible #current-temp-digit,
#current-temp-tile.hourly-temp-visible #current-weather-icon
{
	opacity: 0;
	pointer-events: none;
}

.hourly-temp-visible
{
	width: 100%;

}

.hourly-temp-graph-hidden {
	width: 0%;
	opacity: 0;
}

.hourly-temp-graph-visible {
	width: 100%;
	opacity: 1;
}

#temp-graph-scroll-box
{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
}

#hourly-temp-graph
{
	position: absolute;
	left: 0%;
	top: 0%;
	transform-origin: left;
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
	height: 100%;
}

.hourly-temp
{
	width: 28px;
	height: 70%;
	border: solid 1px var(--main-color);
	position: relative;
}

.hourly-temp-is,
.hourly-temp-hour-is
{
	position: absolute;
	display: block;
	height: fit-content;
	width: fit-content;
	font-size: 12px;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
}

.hourly-temp-is
{
	bottom: calc(100% + 1px);
}

.hourly-temp-hour-is
{
	top: calc(100% + 1px);
}

.hourly-temp-candle-box
{
	position: absolute;
	transform-origin: bottom;
	height: calc(50% + 2px);
	max-height: calc(50% + 2px);
	width: 100%;
}

.hourly-temp-candle
{
	position: absolute;
	bottom: 0%;
	width: 100%;
	border-radius: 0%;
	border-bottom: none;
	background: var(--main-color);
}

.temp-is-below-zero{
	transform:scaleY(-1);
}



#hourly-temp-graph-x-axis-line
{
	position: absolute;
	background-color: var(--main-color);
	height: 2px;
	min-width: 100%;
	left: 0%;
	top: calc(50% + 1px);
}

#search-bar-wrapper
{
	position: relative;
	overflow: visible;
}

.drop-down-open
{
	height: 185px;
	opacity: 1;
}

.drop-down-closed
{
	height: 0px;
	opacity: 0;
}

#search-drop-down-menu-wrapper
{
	position: absolute;
	top: 105%;
	left: 2.5%;
	width: 95%;
	border-radius: 0 0 20px 20px;
	background-color: var(--main-color);
	overflow-y: scroll;
	overflow-x: hidden;
	transform-origin: top;
	z-index: 3;
	transition: 200ms;
}

.search-result-line
{
	display: block;
	width: 100%;
	height: 48px;
	font-size: 24px;
	text-align: right;
	border: solid 0.5px var(--main-color);
	padding-right: 10px;
	cursor: pointer;
	user-select: none;
}

.search-result-line:hover
{
	filter: brightness(1.5);
}

#search-location-bar
{
	width: 100%;
	height: 100%;
	font-size: 16px;
}

#search-location-bar:focus
{
	color: var(--secondary-color);
	background-color: var(--main-color);
}

#sun-state-wrapper {
	display: grid;
}

#sun-state-wrapper > *
{
	margin: auto;
}

#sun-or-moon-path {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: center;
}

#sun-or-moon-path {
	align-items: center;
	align-content: center;
	justify-content: unset !important;
}

#five-day-forecast-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	gap: 8px;
	overflow-y: scroll;
}

#the-next-five-days-title,
.day-plus-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	padding-left: 15px;
	border-radius: 0;
	border-bottom: dotted 1px var(--main-color);
}

#the-next-five-days-title
{
	border-bottom-style: solid;
}

.day-plus-day-of-the-week-is::before {
	content: "\00a0";
}

#other-weather-data-wrapper {
	display: grid;
	grid-template-areas:
		"a b"
		"c d";
}

.other-tile {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

.other-weather-data-basic-data-wrapper * {
	text-align: center;
}

.other-weather-data-basic-data-wrapper {
	transform: translateY(40%);
}

.other-data-tile-title {
	display: block;
}

#wind-tile {
	grid-area: a;
}

#wind-graph,
#uv-graph,
#humidity-graph,
#visibility-graph
{
	display: none;
}

#uv-tile {
	grid-area: b;
}

#humidity-tile {
	grid-area: c;
}

#visibility-tile {
	grid-area: d;
}

#uv-tile-bar {
	height: 55%;
}

#humidity-tile-bar {
	height: 83%;
}

.other-weather-data-basic-data-wrapper
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-grid-item{
	width: 100%;
	height: 100%;
}


@media (min-width: 1300px){
	::-ms-input-placeholder {
		font-size: 16px;
	}

	::placeholder {
		font-size: 16px;
	}

	#dashboard-wrapper-grid {
		max-width: 920px !important;
		max-height: 608.35px !important;
		min-width: 920px;
		min-height: 608.35px;
		top: 20px;
		grid-template-rows: 38.35px 80px 57.11px 38.64px 314px;
		grid-template-columns: 450px 450px;
		grid-template-areas:
			"a b"
			"a c"
			"a d"
			"e d"
			"f d";
		gap: 20px;
	}

	#current-temp-date-and-time-wrapper {
		grid-area: a;
		flex-direction: row;
		gap: 19px;
	}

	#search-bar-wrapper
	{
		grid-area: b;
	}

	#search-location-bar {
		padding: 10px;
	}

	#current-location-wrapper {
		grid-area: c;
		text-align: right;
	}

	#other-weather-data-wrapper {
		grid-area: d;
	}

	#sun-state-wrapper {
		grid-area: e;
		gap: 16px;
		grid-template-areas: 
		"a b c";
	}

	.sun-info-text {
		font-size: 12px;
		width: fit-content;
		height: fit-content;
	}

	.order-sunrise-sunset #sunrise-info-wrapper
	{
		grid-area: a;
		text-align: left;
	}

	.order-sunrise-sunset #sunset-info-wrapper
	{
		grid-area: c;
		text-align: right;
	}

	.order-sunset-sunrise #sunrise-info-wrapper
	{
		grid-area: a;
		text-align: right;
	}

	.order-sunset-sunrise #sunset-info-wrapper
	{
		grid-area: c;
		text-align: left;
	}

	#five-day-forecast-wrapper {
		grid-area: f;
	}

	#current-temp-tile,
	#date-and-time-tile {
		width: 215.46px;
		height: 215.46px;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: center;
	}

	#current-temp-digit {
		font-size: 64px;
	}

	#current-weather-icon {
		width: 80px;
		height: auto;
		transform: translateY(-50%);
	}

	#date-data * {
		display: block;
		margin: auto;
		text-align: center;
	}

	#current-day-of-the-week,
	#current-year {
		font-size: 18px;
	}

	#current-day-and-month {
		font-size: 28px;
	}

	#current-time {
		font-size: 64px;
	}

	#current-city {
		font-size: 58px;
	}

	#current-country {
		font-size: 48px;
	}

	#sun-or-moon-path {
		width: 240px;
		height: 18px;
		grid-area: b;
	}

	#sun-or-moon-icon {
		width: 25px;
		height: 25px;
		margin-left: 60%;
	}

	#the-next-five-days-title {
		width: 450px;
		height: 38px;
		margin-bottom: 14px;
		margin-top: 5px;
	}

	.day-plus-wrapper {
		width: 450.09px;
		height: 43px;
	}

	.day-plus-wrapper .day-plus-max-temp,
	.day-plus-wrapper .day-plus-day-and-month-are {
		margin-left: 15px;
	}

	.day-plus-icon {
		width: 30px;
		height: auto;
	}

	.day-plus-max-temp {
		font-size: 24px;
	}

	.day-plus-min-temp,
	.day-plus-day-and-month-are {
		font-size: 18px;
	}

	.day-plus-day-of-the-week-is {
		font-size: 16px;
	}

	.other-tile {
		width: 167px;
		height: 167px;
		margin: auto;
	}

	.other-weather-data-number,
	.other-weather-data-units,
	.other-data-tile-title
	{
		text-align: center;
	}

	.other-weather-data-number {
		font-size: 52px;
	}

	.other-weather-data-units{
		font-size: 18px;
	}

	.other-data-tile-title
	{
		font-size: 24px;
	}

}

@media (min-width: 715px) and (max-width: 1299px){
	::-ms-input-placeholder {
		font-size: 16px;
	}

	::placeholder {
		font-size: 16px;
	}
	
	#dashboard-wrapper-grid {
		min-width: 690px !important;
		min-height: 634px !important;
		max-width: 690px !important;
		max-height: 634px !important;
		top: 20px;
		grid-template-columns: 330px 330px;
		grid-template-rows: 40px 164px 44px 255px 40px;
		grid-template-areas:
			"a a"
			"b b"
			"c c"
			"d e"
			"f e";
		gap: 20px;
		margin-bottom: 10px;
	}

	#search-bar-wrapper
	{
		grid-area: a;
	}

	#search-location-bar {

		padding: 8px;
	}

	#current-temp-date-and-time-wrapper {
		grid-area: b;
		flex-direction: row;
		gap: 29px;
	}

	#sun-state-wrapper {
		grid-area: c;
		gap: 16px;
		grid-template-areas: 
		"a b c";
	}

	#five-day-forecast-wrapper {
		grid-area: d;
		padding: 5px;
	}

	#other-weather-data-wrapper {
		grid-area: e;
	}

	#current-location-wrapper {
		grid-area: f;
		text-align: left;
	}

	#current-temp-tile,
	#date-and-time-tile
	{
		width: 330px;
		height: 163px;
	}

	#current-temp-digit {
		font-size: 48px;
	}

	#current-weather-icon {
		width: 70px;
		height: auto;
		transform: translateY(-40%);
	}

	#date-data
	{
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-areas: 
		"a b"
		"c b"
		"d b";
		grid-template-columns: 0.5fr 0.5fr;
		grid-template-rows: 0.333fr 0.333fr 0.333fr;
	}

	.date-data-to-the-left,
	.date-data-to-the-right
	{
		width: 100%;
		margin: auto;
		text-align: center;
	}

	.date-data-to-the-right
	{
		grid-area: b;
		font-size: 64px;
	}

	.date-data-to-the-left:nth-of-type(1)
	{
		font-size: 18px;
		grid-area: a;
	}

	.date-data-to-the-left:nth-of-type(2)
	{
		font-size: 28px;
		grid-area: c;
	}

	.date-data-to-the-left:nth-of-type(3)
	{
		font-size: 18px;
		grid-area: d;
	}

	.sun-info-text
	{
		width: fit-content;
		font-size: 14px;
	}

	.order-sunrise-sunset #sunrise-info-wrapper
	{
		grid-area: a;
		text-align: left;
	}

	.order-sunrise-sunset #sunset-info-wrapper
	{
		grid-area: c;
		text-align: right;
	}

	.order-sunset-sunrise #sunrise-info-wrapper
	{
		grid-area: c;
		text-align: right;
	}

	.order-sunset-sunrise #sunset-info-wrapper
	{
		grid-area: a;
		text-align: left;
	}

	#sun-or-moon-path
	{
		width: 442px;
		height: 20px;
		grid-area: b;
	}

	#sun-or-moon-icon
	{
		width: 28px;
		height: 28px;
		margin-left: 60%;
	}
	
	#the-next-five-days-title,
	.day-plus-wrapper
	{
		width: 324px;
		height: 34px;
	}

	#the-next-five-days-title
	{
		min-height: 35px !important;
	}

	.day-plus-icon
	{
		width: 35px;
		height: auto;
	}

	.day-plus-max-temp
	{
		font-size: 18px;
		margin-left: 15px;
	}

	.day-plus-min-temp
	{
		font-size: 14px;
	}

	.day-plus-day-and-month-are
	{
		font-size: 16px;
		margin-left: 15px;
	}

	.day-plus-day-of-the-week-is
	{
		font-size: 14px;
	}

	#current-location-wrapper
	{
		height: 100%;
	}

	#current-city
	{
		font-size: 40px;
	}

	#current-country
	{
		font-size: 32px;
	}

	.other-tile
	{
		width: 123px;
		height: 123px;
		margin: auto;
	}

	.other-weather-data-number,
	.other-weather-data-units,
	.other-data-tile-title
	{
		text-align: center;
	}

	.other-weather-data-number {
		font-size: 42px;
	}

	.other-weather-data-units{
		font-size: 16px;
	}

	.other-data-tile-title
	{
		font-size: 18wpx;
	}

}

@media (max-width: 714px){
	::-ms-input-placeholder {
		font-size: 16px;
	}

	::placeholder {
		font-size: 16px;
	}
	
	#dashboard-wrapper-grid {
		position: absolute !important;
		min-width: 328px !important;
		min-height: 1180px !important;
		max-width: 328px !important;
		max-height: 1180px !important;
		left: calc((100% - 328px)/2);
		top: 10px;
		grid-template-columns: 328px;
		grid-template-rows: 36px 45px 322px 62px 282px 324px;
		grid-template-areas:
			"a"
			"b"
			"c"
			"d"
			"e"
			"f";
		gap: 22px;
	}

	#bottom-padding-mobile
	{
		position: absolute;
		top: 1180px;
		height: 50px;
		width: 100%;
	}

	#search-bar-wrapper
	{
		grid-area: a;
	}

	#search-location-bar {

		padding: 8px;
	}

	#current-location-wrapper {
		grid-area: b;
		text-align: right;
	}

	#current-temp-date-and-time-wrapper {
		grid-area: c;
		flex-direction: column;
		gap: 15px;
	}

	#sun-state-wrapper {
		grid-area: d;
		grid-template-areas: 
		"a b"
		"c c";
	}

	#five-day-forecast-wrapper {
		grid-area: e;
		padding: 5px;
	}

	#other-weather-data-wrapper {
		grid-area: f;
	}

	#current-temp-tile
	{
		width: 100%;
		height: 215px;
		overflow-x: scroll;
	}

	#hourly-temp-graph
	{
		width: fit-content;
		overflow: hidden;
		padding: 0px 30px 0px 30px;
	}

	#date-and-time-tile
	{
		width: 100%;
		height: 91px;
	}

	#current-temp-digit {
		font-size: 64px;
	}

	#current-weather-icon {
		width: 100px;
		height: auto;
		transform: translateY(-40%);
	}

	#date-data
	{
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-areas: 
		"a b c"
		"d d d";
		padding: 10px;
	}

	.date-data-to-the-left,
	.date-data-to-the-right
	{
		width: 100%;
		margin: auto;
		text-align: center;
	}

	.date-data-to-the-right
	{
		grid-area: d;
		font-size: 42px;
	}

	.date-data-to-the-left:nth-of-type(1)
	{
		font-size: 18px;
		grid-area: a;
		text-align: right;
	}

	.date-data-to-the-left:nth-of-type(2)
	{
		font-size: 18px;
		grid-area: b;
		text-align: center;
	}

	.date-data-to-the-left:nth-of-type(3)
	{
		font-size: 18px;
		grid-area: c;
		text-align: left;
	}

	.sun-info-text
	{
		font-size: 14px;
		width: 142px;
	}

	.order-sunrise-sunset #sunrise-info-wrapper
	{
		grid-area: a;
		text-align: left;
	}

	.order-sunrise-sunset #sunset-info-wrapper
	{
		grid-area: b;
		text-align: right;
	}

	.order-sunset-sunrise #sunrise-info-wrapper
	{
		grid-area: b;
		text-align: right;
	}

	.order-sunset-sunrise #sunset-info-wrapper
	{
		grid-area: a;
		text-align: left;
	}

	#sun-or-moon-path
	{
		width: 283px;
		height: 20px;
		grid-area: c;
	}

	#sun-or-moon-icon
	{
		width: 28px;
		height: 28px;
		margin-left: 60%;
	}
	
	#the-next-five-days-title,
	.day-plus-wrapper
	{
		width: 319px;
		height: 39px;
	}

	#the-next-five-days-title
	{
		min-height: 36px !important;
	}

	.day-plus-icon
	{
		width: 35px;
		height: auto;
	}

	.day-plus-max-temp
	{
		font-size: 18px;
		margin-left: 15px;
	}

	.day-plus-min-temp
	{
		font-size: 14px;
	}

	.day-plus-day-and-month-are
	{
		font-size: 16px;
		margin-left: 15px;
	}

	.day-plus-day-of-the-week-is
	{
		font-size: 14px;
	}

	#current-location-wrapper
	{
		height: 100%;
	}

	#current-city
	{
		font-size: 40px;
	}

	#current-country
	{
		font-size: 32px;
	}

	.other-tile
	{
		width: 123px;
		height: 123px;
		margin: auto;
	}

	.other-weather-data-number,
	.other-weather-data-units,
	.other-data-tile-title
	{
		text-align: center;
	}

	.other-weather-data-number {
		font-size: 42px;
	}

	.other-weather-data-units{
		font-size: 16px;
	}

	.other-data-tile-title
	{
		font-size: 18wpx;
	}
}

@media (max-width: 325px){

	#dashboard-wrapper-grid
	{
		transform: scale(0.85);
	}
}

@media (max-width: 265px){
	
	#dashboard-wrapper-grid
	{
		transform: scale(0.75);
	}
}

@media (max-width: 230px){
	
	#dashboard-wrapper-grid
	{
		transform: scale(0.65);
	}
}